    #the-canvas {
      position: center;
      width: 70%;
      height: auto;
      border: 1px solid black;
      direction: ltr;
    }
    .read-status {
      color: green;
      font-weight: bold;
      margin-left: 5px;
    }
    #read-btn {
      margin-left: 20px;
      background-color: #4CAF50;
      color: white;
    }
    #read-btn:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    button:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
